<body>
  <div class="container">
    <div class="image-container">
      <img src="https://texpapel.cdn.magazord.com.br/img/2023/03/produto/5104/gift-100.png?ims=600x600" alt="VoucherMockup" class="voucher-image">
    </div>
    <div class="voucher-info">
      <h1>Voucher Exemplo</h1>
      <div class="ratings">
        <span class="star">★</span>
        <span class="star">★</span>
        <span class="star">★</span>
        <span class="star">★</span>
        <span class="star">★</span>
      </div>
      <div class="categories">
        <span>Alimentação</span>
        <span>Desconto</span>
      </div>
      <p class="voucher-details">Tenha acesso ao cupom de 15% na sua primeira compra conosco</p>
      <p class="benfit">15% OFF</p>
      <button class="use-voucher">Usar Voucher</button>
    </div>
  </div>
</body>
