<body>
    <header>
        <div class="search-bar">
          <input type="text" placeholder="Busque um Benefício">
          <button type="submit">
            <i class="search-icon"></i>
          </button>
        </div>
    </header>
    <div class="container">
    <div class="card">
            <img src="images/casas-bahia.png" alt="Casas Bahia" class="logo">
            <div class="cashback-info">
            <h3>Casas Bahia</h3>
            <p>9% cashback</p>
            <p>era 2% + 35 cupons</p>
        </div>
    </div>
    <div class="card">
        <img src="images/amazon.png" alt="Amazon" class="logo">
        <div class="cashback-info">
        <h3>Amazon BR</h3>
        <p>até 10% cashback</p>
        <p>era 1% + 42 cupons</p>
        </div>
    </div>
    <div class="card">
        <img src="images/netshoes.png" alt="Netshoes" class="logo">
        <div class="cashback-info">
        <h3>Netshoes</h3>
        <p>10% cashback</p>
        <p>era 4,5% + 40 cupons</p>
        </div>
    </div>
    <div class="card">
        <img src="images/kabum.png" alt="KaBuM!" class="logo">
        <div class="cashback-info">
        <h3>KaBuM!</h3>
        <p>1% cashback</p>
        <p>39 cupons</p>
        </div>
    </div>
    <div class="card">
        <img src="images/dell.png" alt="Dell" class="logo">
        <div class="cashback-info">
        <h3>Dell</h3>
        <p>5% cashback</p>
        <p>era 2% + 14 cupons</p>
        </div>
    </div>
    <div class="card">
        <img src="images/electrolux.png" alt="Electrolux" class="logo">
        <div class="cashback-info">
        <h3>Electrolux</h3>
        <p>0,5% cashback</p>
        <p>37 cupons</p>
        </div>
    </div>
    <div class="card">
        <img src="images/magazine-luiza.png" alt="Magazine Luiza" class="logo">
        <div class="cashback-info">
        <h3>Magazine Luiza</h3>
        <p>2% cashback</p>
        <p>50 cupons</p>
        </div>
    </div>
    <div class="card">
        <img src="images/samsung.png" alt="Samsung" class="logo">
        <div class="cashback-info">
        <h3>Samsung</h3>
        <p>2% cashback</p>
        <p>36 cupons</p>
        </div>
    </div>
    <div class="card">
        <img src="images/centauro.png" alt="Centauro" class="logo">
        <div class="cashback-info">
        <h3>Centauro</h3>
        <p>4% cashback</p>
        <p>35 cupons</p>
        </div>
    </div>
    <div class="card">
        <img src="images/mercado-livre.png" alt="Mercado Livre" class="logo">
        <div class="cashback-info">
        <h3>Mercado Livre</h3>
        <p>32 cupons</p>
        </div>
    </div>
    <div class="card">
        <img src="images/aliexpress.png" alt="AliExpress" class="logo">
        <div class="cashback-info">
        <h3>AliExpress</h3>
        <p>10% cashback</p>
        <p>era 1% + 30 cupons</p>
        </div>
    </div>
    <div class="card">
        <img src="images/brastemp.png" alt="Brastemp" class="logo">
        <div class="cashback-info">
        <h3>Brastemp</h3>
        <p>4% cashback</p>
        <p>era 1% + 30 cupons</p>
        </div>
    </div>
    <div class="more-stores">
        <p>+ 800 lojas parceiras</p>
    </div>
    </div>
</body>
